.container {
    max-width: 720px;
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    padding: 10px;
    border-radius: 5px;
    backdrop-filter: var(--backdrop);
    border: var(--border);
    height: 80svh;
    grid-template: min-content / 1fr;
    place-content: start;
}
